	.view{
		height: 100vh;
		min-height: 350px;
		
	}
	@import url(https://fonts.googleapis.com/css?family=Open+Sans);

	body{
	  background: #f2f2f2;
	  font-family: 'Open Sans', sans-serif;
	}

	.search {
	  width: 100%;
	  position: relative;
	  display: flex ;
	}

	.searchTerm {
	  width: 100%;
	  border: 3px solid #bd2130;
	  padding: 5px;
	  height: 50px;
	  border-radius:10px 10px 10px 10px;
	  outline: none;
	  color: #9DBFAF;
	  focus {
	  border: 3px solid #555;}
	}

	.searchTerm:focus{
	  color: #bd2130;
	}

	.searchButton {
	  width: 40%;
	  height: 36px;
	  border: 1px solid #bd2130;
	  background: #bd2130;
	  text-align: center;
	  color: #fff;
	  border-radius: 10px 10px 10px 10px;
	  cursor: pointer;
	  font-size: 20px;
	      margin-left: 30%;
	    margin-top: 10px;
	}

	/*Resize the wrap to see the search bar change!*/
	.wrap{
	  width: 50%;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}

	.form-class{
		width: 100%;
	}

	  /*Trigger Button*/
	.login-trigger {
	  font-weight: bold;
	  color: #fff;
	  background: linear-gradient(to bottom right, #B05574, #F87E7B);
	  padding: 15px 30px;
	  border-radius: 30px;
	  position: relative; 
	  top: 50%;
	}

	/*Modal*/
	h4 {
	  font-weight: bold;
	  color: #fff;
	}
	.close {
	  color: #fff;
	  transform: scale(1.2)
	}
	.modal-content {
	  font-weight: bold;
	  background: linear-gradient(to bottom right,#F87E7B,#B05574);
	}
	.form-control {
	  margin: 1em 0;
	}
	.form-control:hover, .form-control:focus {
	  box-shadow: none;  
	  border-color: #fff;
	}
	.username, .password {
	  border: none;
	  border-radius: 0;
	  box-shadow: none;
	  border-bottom: 2px solid #eee;
	  padding-left: 0;
	  font-weight: normal;
	  background: transparent;  
	}
	.form-control::-webkit-input-placeholder {
	  color: #eee;  
	}
	.form-control:focus::-webkit-input-placeholder {
	  font-weight: bold;
	  color: #fff;
	}
	.login {
	  padding: 6px 20px;
	  border-radius: 20px;
	  background: none;
	  border: 2px solid #FAB87F;
	  color: #FAB87F;
	  font-weight: bold;
	  transition: all .5s;
	  margin-top: 1em;
	}
	.login:hover {
	  background: #FAB87F;
	  color: #fff;
	}

/*****************************************************************88*/

